name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        version: [adwaita, elementary]
        include:
          - version: adwaita
            manifest: io.github.leolost2605.emergency-alerts.yml
            repo-name: flathub
            repo-url: https://dl.flathub.org/repo/flathub.flatpakrepo
          - version: elementary
            manifest: io.github.leolost2605.emergency-alerts-elementary.yml
            repo-name: appcenter
            repo-url: https://flatpak.elementary.io/repo.flatpakrepo

    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:gnome-49
      options: --privileged

    steps:
    - uses: actions/checkout@v4

    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        # This is the name of the Bundle file we're building and can be anything you like
        bundle: 'Emergency Alerts (${{ matrix.version }}).flatpak'
        # This uses your app's RDNN ID
        manifest-path: ${{ matrix.manifest }}

        # You can automatically run any of the tests you've created as part of this workflow
        run-tests: true

        # These lines specify the location of the elementary Runtime and Sdk
        repository-name: ${{ matrix.repo-name }}
        repository-url: ${{ matrix.repo-url }}
        cache-key: "flatpak-builder-${{ github.sha }}"
